mixin checkbox-option(item)
		.checkbox-option
				if item.state == 'true' && item.link
					input.checkbox-option__checkbox(id='#{item.name}' type='checkbox' name='#{item.name}' checked)
					label.checkbox-option__option(for='#{item.name}') #{item.label}
						a.checkbox-option__link(href='#{item.link}') blog.cssr.ru
				else if item.state == 'true'
					input.checkbox-option__checkbox(id='#{item.name}' type='checkbox' name='#{item.name}' checked)
					label.checkbox-option__option(for='#{item.name}') #{item.label}
				else if item.state == 'false'
					input.checkbox-option__checkbox(id='#{item.name}' type='checkbox' name='#{item.name}')
					label.checkbox-option__option(for='#{item.name}') #{item.label}
